<div class="filter-container">
  <div class="filter-container">
    <input type="text" class="form-control" [(ngModel)]="filterName" placeholder="Filtrar por nombre" />
    <input type="number" class="form-control" [(ngModel)]="filterPriceMin" placeholder="Precio mínimo" />
    <input type="number" class="form-control" [(ngModel)]="filterPriceMax" placeholder="Precio máximo" />
    <button class="btn btn-secondary" (click)="applyFilter()">Aplicar filtro</button>
  </div>
</div>
<div class="container">
  <h1 class="page-title">Nuestros Productos</h1>
<!--  <div class="filter-container">-->
<!--  Esto es si quere poner varios debajo del titulo-->
<!--    <input type="text" class="form-control" [(ngModel)]="filterName" placeholder="Filtrar por nombre" />-->
<!--    <button class="btn btn-secondary" (click)="applyFilter()">Aplicar filtro</button>-->
<!--  </div>-->
<div class="card-container">
@for (menu of menuItems; track menu) {
  <div class="card" style="width: 18rem;">
    <img [src]="menu.imagen" class="card-img-top" alt="{{ menu.nombre }}">
    <div class="card-body" style="overflow:hidden">
      <h5 class="card-title">{{ menu.nombre }}</h5>
      <p class="card-text">{{ menu.descripcion }}</p>
      <p class="card-text">Precio: {{ menu.precio }}</p>
      <!--          <a href="#" class="btn btn-primary">Ver detalles</a>-->
    </div>
  </div>
}
  </div>
</div>
<div class="pagination-container">
  <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
  <span class="page-indicator">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
  <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente</button>
</div>
