<div class="filter-container">
  <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Filtrar por nombre" />
  <input type="number" class="form-control" [(ngModel)]="precioMin" placeholder="Precio mínimo" />
  <input type="number" class="form-control" [(ngModel)]="precioMax" placeholder="Precio máximo" />
  <button class="btn btn-secondary" (click)="onSearch()">Buscar</button>
  <button class="btn btn-secondary" (click)="clearFilters()">Limpiar Filtros</button>
</div>


<div class="container">
  <h1 class="page-title">Nuestros Productos</h1>
  @if (authService.isAuthenticated()) {
    <div class="boton">
      <button class="btn btn-secondary btn-padding" [routerLink]="['/menu/new']">Agregar Producto</button>
    </div>

  }

  <div class="card-container">
    @for (menu of menus; track menu) {
      <div class="card" style="width: 18rem;">
        @if (menu.imagen) {
          <img [src]="'data:' + menu.imagen.fileContentType + ';base64,' + menu.imagen.file" alt="{{ menu.nombre }}">
        }
        <div class="card-body" style="overflow:hidden">
          <h5 class="card-title">{{ menu.nombre }}</h5>
          <p class="card-text">{{ menu.descripcion }}</p>
          <p class="card-text">Precio: {{ menu.precio }}</p>

          @if (authService.isAuthenticated()) {
            <div>
              <button class="btn btn-secondary" (click)="deleteMenuItem(menu)">Eliminar</button>
              <button class="btn btn-secondary" [routerLink]="['/menu/edit', menu.id]">Modificar</button>
            </div>
          }
        </div>
      </div>
    }
  </div>

  <div class="pagination-container">
    <button class="btn btn-secondary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Anterior</button>
    <span class="page-indicator">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button class="btn btn-secondary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">Siguiente</button>
  </div>
</div>
