.footer {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 15px; /* Espaciado interno del footer */
  border: 1px solid #ccc; /* Borde del footer */
  border-top: 1px solid #e5e5e5; /* Borde superior */
  background-color: #857877; /* Color de fondo del footer */
}

.footer span, .footer fa-icon {
  margin: 0 10px; /* Espacio entre los elementos */
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column; /* Cambia la dirección del flexbox a columna en pantallas más pequeñas */
    align-items: center; /* Centra los elementos verticalmente en pantallas más pequeñas */
  }

  .footer span, .footer fa-icon {
    margin: 5px 0; /* Reduce el espacio entre los elementos en pantallas más pequeñas */
  }
}

.footer-link:hover {
  color: #007bff; /* Color de texto al pasar el cursor */
}
