<div class="navbar-container sticky top-0 border-bottom-1 border-gray-200 shadow-1 z-1">
  <p-toolbar class="toolbar bg-white border-top-none border-x-none border-noround">
    <div class="toolbar-group-left">
      <div class="logo-container">
        <img src="https://e7.pngegg.com/pngimages/984/246/png-clipart-logo-brand-product-design-font-menu-del-restaurante-label-logo.png" alt="Restaurant Logo">
        <div class="logo-text">Restaurant</div>
      </div>
    </div>
    <div class="toolbar-group-right">
      <div class="nav-buttons">
        <a routerLink="/" class="nav-button"><b>Inicio</b></a>
        <a routerLink="/menu" class="nav-button"><b>Menú</b></a>
        <a routerLink="/contacto" class="nav-button"><b>Contactos</b></a>
      </div>
      <p-menu #menu [model]="currentMenuItems" [popup]="true" class="menu-popup"></p-menu>
      <button (click)="menu.toggle($event)" class="menu-toggle-button text-center" >
        <fa-icon [icon]="'bars'" class="menu-icon avatar-sm"></fa-icon>
        <app-avatar [imageUrl]="connectedUser.imageUrl" avatarSize="avatar-sm" class="avatar12 text-center"></app-avatar>
      </button>
    </div>
  </p-toolbar>
</div>
