/* Estilos generales para la sección de información */
.info-section {
  margin: 0; /* Elimina los márgenes predeterminados para extenderse a todo el ancho */
  padding: 0; /* Elimina el padding predeterminado */
}

/* Estilos para cada sección individual */
.section {
  padding: 2rem; /* Espaciado interno */
  border-radius: 0.5rem; /* Bordes redondeados */
  margin: 0; /* Elimina el margen para que se extienda a todo el ancho */
  width: 100vw; /* Ancho completo de la ventana del navegador */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

/* Fondo gris claro */
.gray-background {
  background-color: #f0f0f0; /* Color de fondo gris claro */
}

/* Fondo marrón claro */
.brown-background {
  background-color: #d8b4a6; /* Color de fondo marrón claro */
}

/* Contenedor del texto centrado */
.text-container {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenedor en el centro */
  padding: 0 1rem; /* Padding horizontal */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* Imagen dentro de la sección */
.section-image {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 0.5rem; /* Bordes redondeados para la imagen */
  margin-top: 1rem; /* Espaciado superior */
}

/* Estilo para los títulos principales */
.title {
  font-size: 2rem; /* Tamaño de fuente para el título principal */
  color: #333333; /* Color del texto para el título principal */
  margin-bottom: 1rem; /* Espaciado inferior */
}

/* Estilo para los subtítulos */
.subtitle {
  font-size: 2rem; /* Tamaño de fuente para los subtítulos */
  color: #333333; /* Color del texto para los subtítulos */
  margin-top: 1.5rem; /* Espaciado superior para separar del contenido anterior */
}

/* Estilo para el texto de párrafo */
.cta {
  font-size: 1.5rem; /* Tamaño de fuente para el párrafo */
  color: #555555; /* Color gris oscuro para el texto */
  margin-top: 1rem; /* Espaciado superior */
  margin-bottom: 1.5rem; /* Espaciado inferior para separar del siguiente título */
}

/* Estilo para las secciones con texto y imagen en paralelo */
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilo para el contenido de texto al lado de la imagen */
.text-content {
  width: 60%; /* Ajusta el ancho del contenido de texto */
  margin-right: 1rem; /* Espaciado entre el texto y la imagen */
  text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo para la imagen dentro de las secciones con texto e imagen en paralelo */
.section-image {
  width: 35%; /* Ajusta el ancho de la imagen según sea necesario */
}
